html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

rect {
    shape-rendering: crispEdges;
}

.traditional {
    width: 100%;
}

.overview {
    width: 100%;
    overflow: hidden;
}

.split {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    overflow-y: hidden;
    
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('vertical.png');
    cursor: ew-resize;
}
    
.gutter.gutter-vertical {
    background-image: url('horizontal.png');
    cursor: ns-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.split.split-vertical, .gutter.gutter-vertical {
    width: 100%;
    float: left;
}

.mini text {
    font: 9px sans-serif;	
}


.evtText {
    font: 10px sans-serif;	
}

.traditional text {
    font: 10px sans-serif;	
}

.detail text {
    font: 10px sans-serif;
}

.old text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    stroke: black;
}

.overviewBar {
    stroke: black;
    stroke-width: 1px;
}

.laneLines {
    stroke: lightgray;
    stroke-width: 1px;
}

.event {
    stroke: black;
    stroke-width: 1px;
    fill: lightblue;
}

.parent {
    stroke: black;
    stroke-width: 1px;
}

.message {
    stroke: black;
    stroke-width: 1px;
}

.brush .selection {
    stroke: lightblue;
    stroke-width: 1px;
    stroke-opacity: 0.8;
    fill: lightblue;
    fill-opacity: 0.6;
}

.comm_select {
    stroke: gray;
    stroke-opacity: .75;
    fill: gray;
    fill-opacity: .25;
}

